@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2199df;
  text-decoration: none;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

button,
input[type='submit'] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  margin: 1em 0;
}

/* general */
body {
  font-family: 'Roboto', sans-serif;
}

.page {
  padding: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

/* Header */
#header {
  height: 50px;
  background-color: #193241;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .title {
  margin: 0;
  color: #ccc;
  padding: 0 2rem;
}

#header .auth-options {
  height: 100%;
  display: flex;
}

#header .auth-options button {
  padding: 0 2rem;
  color: #fff;
  transition: all 0.3s ease;
}

#header .auth-options button:hover {
  background-color: #192a35;
}

#header .profile {
  margin-left: auto;
  height: 100%;
  display: flex;
}

#header .profile button {
  padding: 0 2rem;
  color: #fff;
  transition: all 0.3s ease;
}

#header .profile button:hover {
  background-color: #192a35;
}

.map-container {
  display: flex;
  margin: 2rem auto;
  width: 100%;
  height: 85vh;
  padding: 0 2rem;
}

.map-search {
  height: 100%;
  width: 40%;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  margin-right: 0.3rem;
  padding: 1rem;
}

#map {
  height: 100%;
  width: 100%;
  border: 1px solid #193241;
  border-radius: 10px;
  margin-left: 0.3rem;
}

.map-search {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.map-search-title {
  width: 100%;
  text-align: center;
}

.map-search-input {
  display: block;
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  background-color: #f0f0f0;
  font-size: 1.1rem;
}

.map-search-input:focus {
  border: 1px solid #50a4e9;
  box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);
  outline: none;
}

.values {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: sticky;
}

.data-name-price-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.data-date {
  height: 100%;
  width: 50%;
}

.search-rent-button {
  margin-top: auto;
  width: 100%;
  padding: 0.5rem 0.7rem;
  border-radius: 8px;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  letter-spacing: 0.1em;
  background-color: #ccc;
}

.search-rent-button:hover {
  background-color: rgb(172, 172, 172);
}

.search-result-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.search-result-date input {
  width: 50%;
  padding: 0.5rem;
  border: 0.3px solid #ccc;
  border-radius: 5px;
  margin: 5px;
}

.search-result-date input:focus {
  border: 1px solid #50a4e9;
  box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);
  outline: none;
}

.search-result-time {
  margin-top: 10px;
  display: flex;
  width: 100%;
}

.mtb-1r-2r {
  margin: 1rem 0 2rem 0;
}

.mtb-2r {
  margin: 2rem 0;
}

.ml-auto {
  margin-left: 10%;
}

/* profile */
.profile-page {
  padding: 2rem;
  display: flex;
  width: 100%;
  height: 100%;
}

.margin-10 {
  margin: 0 10px;
}

/* form */
.profile-form {
  width: 50%;
}

.form label,
.form input {
  display: block;
}
.form input {
  margin-bottom: 1rem;
}
.form label {
  margin-bottom: 0.2rem;
}
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='name'],
.form input[type='phonenumber'] {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  background-color: #f0f0f0;
  font-size: 1.1rem;
}

.form input[type='text'],
.form input[type='name'],
.form input[type='address'],
.form input[type='capacity'],
.form input[type='cartype'],
.form input[type='price'],
.form input[type='subscription'],
.form input[type='day'],
.form input[type='starttime'],
.form input[type='endtime'] {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  background-color: #f0f0f0;
  font-size: 1.1rem;
}

.form input:focus {
  border: 1px solid #50a4e9;
  box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);
  outline: none;
}
.form input[type='submit'] {
  margin: 0 auto;
  padding: 0.3rem 0.5rem;
  border: 1px solid #6aa051;
  border-radius: 8px;
  background-color: #c8ecb7;
  font-size: 1.1rem;
}

/* card-page */
.card-page {
  display: flex;
  justify-content: center;
}

.card-page .card {
  padding: 0 2rem;
}

/* notice */
.notice {
  width: 75%;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 1px solid #e07c7c;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notice button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ffffff;
}

.error-notice {
  background-color: #f8d6d6;
}

.error-notice button {
  background-color: #df4343;
}

.success-notice {
  background-color: #d6f8e4;
}

.success-notice button {
  background-color: #43df6a;
}
